<template>
  <div class="container">

    <button class="btn btn-block btn-lg btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal" @click="createImage">
      Ajouter
    </button>

    <div class="row">

      <div class="col-md-4 mb-3" v-for="(item, index) in images" :key="index">
        <div class="card shadow-sm">
          <img :src="item.data" alt="" class="image-preview">
    
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Name:</b> {{ item.name }}
            </li>
            <li class="list-group-item">
              <b>Width:</b> {{ item.width }} 
            </li>
            <li class="list-group-item">
              <b>Height:</b> {{ item.height }} 
            </li>
            <li class="list-group-item">
              <b>Size:</b> {{ item.size }} 
            </li>
            <li class="list-group-item">
              <b>Type:</b> {{ item.type }} 
            </li>
            <li class="list-group-item">
              <div class="d-flex justify-content-evenly">
                  <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" @click="viewImage(item.id)">View</button>
                  <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" @click="getImage(item.id)">Edit</button>
                  <button type="button" class="btn btn-outline-danger" @click="removeImage(item.id)">Delete</button>
              </div>
            </li>
          </ul>
        </div>    
      </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Image</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <div class="file-upload">  
          
              <input v-if="!screen" class="file-upload-btn" type='file' @change="addImage" accept="image/*"/>
          
              <div class="image-upload-wrap">
                <div class="drag-text">
                  <img class="file-upload-image img-fluid" :src="file.data || image.data" alt="your image" />
                </div>
              </div>
          
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="file-upload-btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button v-if="!screen" class="file-upload-btn" @click="handleImage"> Save </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<style src="./collection.css"></style>
<style src="./ImageUpload.css"></style>
<script src="./collection.js"></script>