<template>
  <div class="form-signin">
    <div>
      <img class="mb-4" src="https://skillvalue.com/wp-content/uploads/2019/08/test-technique.png" alt="" width="300" height="200">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" v-model="user.email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" v-model="user.password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary" @click="loginUser">Sign in</button>
    </div>
  </div>
</template>

<script src="./Login.js"></script>
<style src="./Login.css"></style>